<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Veeam Best Practice">
  <meta name="keywords" content="Veeam, best, practice, practise, vbr, vbo, vse, Architect, Solutions Cloud Connect, office365, backup, protection">
  <meta name="author" content="Veeam Solutions Architects">
<title>VBR</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169821219-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169821219-4');
</script>
</head>
<body>
</body>
</html>
